{% extends 'registration/base.html' %}
{% block content %}
{% load static %}

<main role="main" class="container g-5 text-center">
    <section class="section_color">
        <img class="img_perfil" src="" alt="foto_perfil">
    </section>
    <section class="section_texto">
        <h1 class="nombre">ISasmendi, Eugenia Yanina</h1>
        <h2 class="subtitulo">Desarolladora Web</h2>
        <div class="info">
            <p class="info_parrafo">¡Hola, bienvenido/a a mi perfil! Soy estudiante de la provincia de Jujuy y estoy por
                finalizar la carrera de Ingeniería Informática. Actualmente, estoy cursando el capacitacion en
                Telecom - Digitales Python Developer.</p>
            <p class="info_parrafo">"Gracias a mi carrera, he tenido la oportunidad de incursionar en distintos roles
                relacionados con la elaboración de desarrollo de software."</p>
            <p class="info_parrafo">Soy una persona proactiva, que le gusta encontrar nuevos desafios y siempre estoy
                    aprendiendo cosas nuevas.</p>
            <p class="info_parrafo">A finales de 2021 comence a estudiar programación de manera remota.</p>

            <p class="info_parrafo">Considero que el aprender no ocupa espacio, así como también que las relaciones y el
                intercambio en equipo te potencian más.</p>
        </div>
        <h4>Sobre el inicio de este proyecto :</h4>
        <div class="info">
            <p class="info_parrafo">La locura de iniciar en hacer un sistema de gestion de canchas comenzo por que un
                amigo vive yendo a
                distintas canchas donde el cual me pregunte si habia sistema para tener todas las canchas juntas y que
                me cobrase de una sola vez siendo socia, maso menos fue asi la idea</p>
            <p class="info_parrafo">Entonces desde ese dia fue mucha la investigacion como tipo de canchas, los deportes
                que hay respectos a las mismas canchas, bueno asi me meti en un mundo desconocido en mi caso.</p>
            <p class="info_parrafo">En fin , es un proyecto interesante el cual necesitare de expertos en el tema para
                seguir completando los requerimientos necesarios para un buen funcionamiento</p>
        </div>
        <ul class="redes">
            <li class="redes_li"><a class="redes_link" href="https://github.com/Eyiisasmendi"><i
                        class="fa-brands fa-github"></i></a></li>
            <li class="redes_li"><a class="redes_link" href="https://www.linkedin.com/in/eyisasmendi/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
            <li class="redes_li"><a class="redes_link" href="https://wa.me/5493888563143"><i
                        class="fa-brands fa-whatsapp"></i></a></a></li>
        </ul>
    </section>
    <footer>Eyiisasmendi - 2023</footer>
